.icon-1x {
  font-size: 1.5em;
}
.icon-1x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-7x {
  font-size: 6.5em;
}
.icon-7x.icon-border {
  border-width: 6.5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
input {
  border: 0;
  outline: none;
  font-size: 16px;
}
#carHeader {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  color: #26c269;
  border-bottom: 1px solid #f3f3f3;
  font-size: 18px;
  font-family: 'Microsoft Yahei';
  display: -webkit-flex;
  background-color: #fff;
}
#carHeader i.back {
  -webkit-flex: 1;
  display: block;
  line-height: 50px;
  font-size: 28px;
  text-align: left;
}
#carHeader span#regesterHead {
  -webkit-flex: 2;
  text-align: center;
}
#carHeader i.right {
  -webkit-flex: 1;
  display: block;
  line-height: 50px;
  font-size: 28px;
  text-align: right;
}
#nogoodCar {
  width: 100%;
  height: 298px;
  background-color: #fff;
  font-family: 'Microsoft Yahei';
}
#nogoodCar .myCart {
  width: 100%;
  height: 170px;
  color: #dbdbdb;
}
#nogoodCar .myCart .nullCart {
  margin: 50px 34% 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
}
#nogoodCar .pCart {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #dbdbdb;
  font-size: 16px;
}
#nogoodCar .btn-cart {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 50px;
}
#nogoodCar .btn-cart span {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #999;
  height: 40px;
  line-height: 40px;
  width: 100px;
  color: #999;
  text-align: center;
  margin-right: 4px;
}
#goodsCar {
  width: 100%;
  background-color: #f6f6f6;
  font-family: 'Microsoft Yahei';
}
#goodsCar .pruList {
  margin-top: 10px;
}
#goodsCar .pruList li {
  width: 100%;
  height: 158px;
  background-color: #fff;
  padding-left: 12px;
  border-bottom: 1px solid #ddd;
}
#goodsCar .pruList li input[type=checkbox] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #26c269;
  border-radius: 50%;
  outline: 0 !important;
  float: left;
  margin-top: 40px;
}
#goodsCar .pruList li input[type=checkbox]:checked {
  background: #26c269;
  border: 1px solid #26c269;
}
#goodsCar .pruList li input[type=checkbox]:checked:before {
  content: "";
  font-family: Muiicons;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background: 0 0;
  border-radius: 0;
  opacity: 1;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-font-smoothing: antialiased;
  left: 3px;
  top: 3px;
  position: absolute;
  width: 10px;
  height: 6px;
}
#goodsCar .pruList li:nth-child(1) {
  border-top: 1px solid #ddd;
}
#goodsCar .pruList li .pro {
  margin-left: 30px;
  padding: 12px 0;
  position: relative;
}
#goodsCar .pruList li .pro .proImg {
  width: 100px;
  height: 100px;
}
#goodsCar .pruList li .pro .proImg img {
  width: 100%;
  height: 100%;
  border: 1px solid #d7d7d7;
}
#goodsCar .pruList li .pro .proMessage {
  position: absolute;
  top: 12px;
  left: 110px;
  font-size: 13px;
  color: #444;
}
#goodsCar .pruList li .pro .proMessage span {
  display: block;
}
#goodsCar .pruList li .pro .proMessage span:nth-child(3) {
  margin-top: 20px;
}
#goodsCar .pruList li .pro .proMessage span:nth-child(3) b {
  color: #f03e3e;
  font-size: 18px;
}
#goodsCar .pruList li .pro .proMessage span:nth-child(3) p {
  display: inline-block;
  color: #f03e3e;
  font-size: 18px;
  font-weight: bold;
}
#goodsCar .pruList li .pro .proMessage .nu {
  height: 20px;
}
#goodsCar .pruList li .pro .PD {
  margin-top: 8px;
  background: #fff;
  border-top: 1px solid #d7d7d7;
  display: inline-block;
  border-bottom: 1px solid #d7d7d7;
}
#goodsCar .pruList li .pro .PD span {
  float: left;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
#goodsCar .pruList li .pro .PD span:nth-child(1) {
  border-left: 1px solid #d7d7d7;
}
#goodsCar .pruList li .pro .PD span:nth-child(3) {
  border-right: 1px solid #d7d7d7;
  color: #fc6e51;
}
#goodsCar .pruList li .pro .PD input[type=text] {
  float: left;
  padding: 0;
  margin-top: 0px;
  border: 0;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  width: 40px;
  border-radius: 0;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font: 13px Arial;
}
#goodsCar .allPrice {
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: #999;
  padding: 14px;
  box-sizing: border-box;
  background-color: #fff;
}
#goodsCar .cart-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  margin-top: 10px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #d7d7d7;
}
#goodsCar .cart-footer input[type=checkbox] {
  margin-top: 10px;
  margin-right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #26c269;
  border-radius: 50%;
  outline: 0 !important;
  float: left;
  position: relative;
}
#goodsCar .cart-footer input[type=checkbox]:checked {
  background: #26c269;
  border: 1px solid #26c269;
}
#goodsCar .cart-footer input[type=checkbox]:checked:before {
  content: "";
  font-family: Muiicons;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background: 0 0;
  border-radius: 0;
  opacity: 1;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-font-smoothing: antialiased;
  left: 3px;
  top: 3px;
  position: absolute;
  width: 10px;
  height: 6px;
  z-index: 10000;
}
#goodsCar .cart-footer .priceAll {
  float: left;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #666;
}
#goodsCar .cart-footer .priceAll .allPc {
  float: left;
}
#goodsCar .cart-footer .priceAll .doller {
  float: left;
  margin-right: 15px;
}
#goodsCar .cart-footer .subPrice {
  float: right;
  background: #f03e3e;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#carFooter {
  background-color: #fff;
  margin-top: 12px;
  padding-bottom: 36px;
  font: 62.5% 'Microsoft Yahei', Tahoma, Simsun;
}
#carFooter .fo {
  font-size: 14px;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px #E7E7E7 solid;
}
#carFooter .fo a {
  color: #333;
  font-family: "微软雅黑";
  text-decoration: none;
}
#carFooter .ft {
  font-size: 14px;
  padding: 15px 0 5px 0;
  text-align: center;
  color: #333;
}
#carFooter .ft span {
  padding-right: 10px;
}
#carFooter .ft span:nth-child(1) {
  color: #f00;
}
#carFooter .copyRight {
  text-align: center;
  margin: 0 10px 0 10px;
  padding-bottom: 25px;
  color: #333;
  font-size: 12px;
}
/*# sourceMappingURL=cartgory.css.map */
